<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div id="new-tasks-container">
            <input type="text" placeholder="Inserisci la nuova task" v-model="newtask" @keydown.enter="onPressEnter">
            <button @click="aggiuntiTask" >Aggiungi</button>
            <div id="error-message" v-if="error">
                <h4>devi scrivere almeno un carattere</h4>
            </div>

        </div>
        <div id="task-container">
            <ul   v-for="(task,idx) in tasks">
                <li class="task-list":class="{ active: task.done }" 
                  > <span  @click ="task.done = !task.done" > {{task.content}}</span><i class="fa-solid fa-xmark" @click ="Rimuovitask(idx)"></i></li>
               
                
            </ul>

        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>